@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500&display=swap");

body {
  background: #03989e !important;
  font-family: "Montserrat", sans-serif !important;
}
body h1,
h2,
h3,
h4,
h5 {
  color: white;
}
.container img {
  max-width: 120px;
  border-radius: 20px;
}
